html, body {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12cm;
    width: 7cm;
    border-radius: 2mm;
    background-color: aqua;
    padding: 1em;
    overflow: hidden;
    box-sizing: border-box;
}

.card-header {
    height: 10%;
    width : 100%;
    background-color: blueviolet;
}

.card-illustration {
    height: 25%;
    width : 100%;
    background-color: cornsilk;
}

.card-text {
    height:60%;
    background-color: darkred;
}

.card-credits {
    height: 5%;
    background-color: gold;
}